# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Online_Django_Batch_7PM\Git_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
